@page
@model ReverseEnginereeing.Pages.Sales.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Sale</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.FinalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.FinalPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.Income)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.Income)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.SaleDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.SaleDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.PublishDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.PublishDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.Buyer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.Buyer.PersonId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.House)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.House.HouseId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.SalesMan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.SalesMan.SalesManId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.Seller)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.Seller.PersonId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Sale.SaleId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
