@page
@model ReverseEnginereeing.Pages.Sales.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sale</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.FinalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.FinalPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.Income)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.Income)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.SaleDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.SaleDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.PublishDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.PublishDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.Buyer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.Buyer.PersonId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.House)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.House.HouseId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.SalesMan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.SalesMan.SalesManId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.Seller)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.Seller.PersonId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Sale?.SaleId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
